<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>UrnaElectronica</display-name>
  <resource-ref>
    <description>DB conexion</description>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CasillaServletControlador</display-name>
    <servlet-name>CasillaServletControlador</servlet-name>
    <servlet-class>mx.com.fi.proyecto.controlador.CasillaServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CasillaServletControlador</servlet-name>
    <url-pattern>/CasillaServletControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrnaServletControlador</display-name>
    <servlet-name>UrnaServletControlador</servlet-name>
    <servlet-class>mx.com.fi.proyecto.controlador.UrnaServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrnaServletControlador</servlet-name>
    <url-pattern>/UrnaServletControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidatoServletControlador</display-name>
    <servlet-name>CandidatoServletControlador</servlet-name>
    <servlet-class>mx.com.fi.proyecto.controlador.CandidatoServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidatoServletControlador</servlet-name>
    <url-pattern>/CandidatoServletControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoletaServletControlador</display-name>
    <servlet-name>BoletaServletControlador</servlet-name>
    <servlet-class>mx.com.fi.proyecto.controlador.BoletaServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoletaServletControlador</servlet-name>
    <url-pattern>/BoletaServletControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexServletControlador</display-name>
    <servlet-name>indexServletControlador</servlet-name>
    <servlet-class>mx.com.fi.proyecto.controlador.indexServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServletControlador</servlet-name>
    <url-pattern>/indexServletControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartidoServletControlador</display-name>
    <servlet-name>PartidoServletControlador</servlet-name>
    <servlet-class>mx.com.fi.proyecto.controlador.PartidoServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartidoServletControlador</servlet-name>
    <url-pattern>/PartidoServletControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostulacionServletControlador</display-name>
    <servlet-name>PostulacionServletControlador</servlet-name>
    <servlet-class>mx.com.fi.proyecto.controlador.PostulacionServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostulacionServletControlador</servlet-name>
    <url-pattern>/PostulacionServletControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MunicipioServletControlador</display-name>
    <servlet-name>MunicipioServletControlador</servlet-name>
    <servlet-class>mx.com.fi.proyecto.controlador.MunicipioServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MunicipioServletControlador</servlet-name>
    <url-pattern>/MunicipioServletControlador</url-pattern>
  </servlet-mapping>
</web-app>